BROWSERSTACK_USERNAME=
BROWSERSTACK_ACCESS_KEY=

# Use BrowserStack app IDs returned after upload, for example: bs://<app-id>
BROWSERSTACK_ANDROID_APP=
BROWSERSTACK_IOS_APP=

BROWSERSTACK_PROJECT_NAME=native-demo-app-mobile-tests
BROWSERSTACK_BUILD_NAME=local-build

APPIUM_HOST=127.0.0.1
APPIUM_PORT=4723
APPIUM_PATH=/

ANDROID_DEVICE_NAME=emulator-5554
ANDROID_APP_PACKAGE=com.wdiodemoapp
ANDROID_APP_ACTIVITY=com.wdiodemoapp.MainActivity
